.portfolio {
  padding: 84px 0;
}
.portfolio__suptitle {
  margin-bottom: 44px;
}
.portfolio__img {
  display: block;
  width: 100%;
  height: auto;

  @include media(tablet) {
    width: 330px;
  }
  @include media(desk) {
    width: 270px;
  }
}
.portfolio__item + .portfolio__item {
  @include media(mobi-only) {
    margin-top: 30px;
  }
}

.portfolio__list {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include media(desk) {
    flex-wrap: nowrap;
  }
}
